:root, body {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

code {
    font-size: 17px;
}

button {
    font: inherit;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
}

footer {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.base-content {
    min-height: 100%;
}

*:not(.hidden) {
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
}

@keyframes top-toast-enter {
    0% {
        transform: translateX(-50%) translateY(-100%);
    }
    100% {
        transform: translateX(-50%) translateY(25%);
    }
}

@keyframes top-toast-exit {
    0% {
        transform: translateX(-50%) translateY(25%);
    }
    100% {
        transform: translateX(-50%) translateY(-100%);
    }
}

.top-toast {
    background-color: #0006;
    color: #fff;
    position: fixed;
    padding: 0.25rem;
    left: 50%;
    top: 0;
    width: fit-content;
    height: fit-content;
}

.spoiler {
    border-radius: 5px;
    background-color: #555;
    color: transparent;
    cursor: pointer;
}

.spoiler:focus, .spoiler:focus-within, .spoiler.view {
    background-color: #aaa;
    color: unset;
    cursor: unset;
}

.a-preview {
    color: #339;
    border-bottom: 1px dotted #339;
}

.a-preview .formatting-token {
    color: #779;
}

.formatting-token {
    color: #666;
}

.formatting-textarea {
    display: block;
    overflow: auto;
    border: 1px solid #000;
    border-radius: 5px;
    
}

.formatting-textarea:focus, .formatting-textarea:focus-within {
    border-width: 3px;
}

.circle {
    border-style: solid;
    border-radius: 45%;
    border-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
}

.c1 {
    border-width: 15px;
}

