{{template "base" .}}
{{define "title"}}Circles | Account{{end}}
{{define "styles"}}
<link rel="stylesheet" as="style" type="text/css" href="/static/css/account.css">
{{end}}
{{define "scripts"}}
<script src="/static/js/account.js"></script>
{{if .IsMine}}
<script src="/static/js/account_edit.js"></script>
{{end}}
{{end}}
{{define "body"}}
<main>
    <div id="account-info-parent" class="circle c1 hidden">
        <div id="account-info">
            <div class="row">
                <div id="icon-container">
                    <img id="account-icon" src="/media/{{.Icon}}" alt="icon">
                    
                </div>
                <h3 id="account-name" class="resize-font" username="{{.Name}}"
                    {{if .NoDisplayName}}no-display-name{{end}}
                >{{with .DisplayName}}{{.}}{{else}}{{.Name}}{{end}}</h3>
            </div>
            <div class="pair grow">
                <b>Bio</b>
                <div id="account-bio" raw="{{.Bio}}">
                    {{with .Bio}}
                    {{else}}
                    <p><i>No Bio</i></p>
                    {{end}}
                </div>
            </div>
            <div class="row bottom">
                {{if .IsMine}}
                <button id="edit-button">Edit</button>
                <button id="logout-button">Logout</button>
                {{else}}
                <button id="message-button">Message</button>
                {{end}}
            </div>
        </div>
    </div>
</main>
<div id="edit-icon-preview-container" class="hidden">
    <div id="edit-icon-preview">
        <h1>New Icon</h1>
        <img id="changed-account-icon" alt="new icon">
        <div class="row">
            <button id="changed-account-confirm">Confirm</button>
            <button id="changed-account-cancel">Cancel</button>
        </div>
    </div>
</div>
{{end}}